html {
  box-sizing: border-box;
  font-size: 80%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  min-height: 100vh;
  font-family: Roboto;
  color: white;
  background-color: #1a1a1a;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;

}

element {
  display: block;
}

.home {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.heading {
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  z-index: 99999;
}

.heading_line1 {
  font-size: 6rem;
  z-index: 99999999;
}

.heading_line1 span {
  color: rgb(6, 145, 145);
}

.heading_line2 {
  font-size: 6rem;
}

.heading-cta {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 0.2rem 1rem;
  width: auto;
  height: 4.8rem;
  border: 2px solid;
  border-radius: 2px;
  color: rgb(6, 145, 145);
  font-size: 2rem;
  font-weight: 500;
}

.heading_arrow {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 15px;
  transform: rotate(90deg);
  fill: rgb(6, 145, 145);
}

.navigation_bar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid black;
  background-color: rgba(40, 40, 40, 0.95);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px rgb(6, 145, 145);
  margin-bottom: 50px;
  z-index: 999999999;
}

.navigation {
  display: flex;
  margin-right: auto;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;

}

.navigation_item {
  float: left;
}

li {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section_heading {
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  z-index: 999;
}

.about_heading::before {
  position: absolute;
  content: '';
  border-bottom: 18px solid rgb(6, 145, 145);
  width: 18rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  z-index: -1;

}

.about {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about_content {
  height: 600px;
  width: 600px;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  flex-direction: column;
  left: -300px;
}

.about_paragraph {
  position: relative;
  margin-top: auto;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 200px;
}

.projects_heading::before {
  position: absolute;
  content: '';
  border-bottom: 18px solid rgb(6, 145, 145);
  width: 22rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  z-index: -1;

}

.procrastinote {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  flex-direction: column;
  left: -300px;
}

.procrastinote a {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  font-size: 2rem;
  border: 3px solid rgb(6, 145, 145);
  padding: 5px;
  border-radius: 15px;
  color: rgb(6, 145, 145);
  
}

.projects {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects_content {
  height: 600px;
  width: 600px;
}

.projects_paragraph {
  font-size: 2rem;
  letter-spacing: 1px;
}

.contact {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.contact_heading::before {
  position: absolute;
  content: '';
  border-bottom: 18px solid rgb(6, 145, 145);
  width: 21rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  z-index: -1;
}

.contact_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact input{
  width: 500px;
  resize: none;
  border: none;
  color: inherit;
  background-color: #282828;
  font-size: 1.6rem;
  outline: none;
}

.contact textarea{
  width: 500px;
  resize: none;
  border: none;
  color: inherit;
  background-color: #282828;
  font-size: 1.6rem;
  outline: none;
}

.contact_form_submit{
  align-self: flex-start;
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem 1.2rem;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

